body {
    margin : 0px;
    height: 100vh;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: black;
} 

#UI {
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.UI_active {
    z-index: 1;
}

.UI_inactive {
    z-index: 0;
}